<a href="/store" class="back"> Regresar a la tienda</a>
<div class="productContainer">
    <div class="productContainer_text">
        <img src="{{img}}" alt="">
        <div class="productContainer_content">
            <h2>{{title}}</h2>
            <p>{{description}}</p>
            <div class="buyProduct">
            <h2>{{price}}USD</h2>
            <button class="btn4 btn4--white"
            data-name="{{title}}"
        data-price="{{price}}"
        data-id="{{_id}}"
        data-img="{{img}}">
            add to cart <i class="fas fa-shopping-cart"></i></button>
        </div>
        </div>
    </div>
    <img src="/images/fondo_product.png" alt="">
</div>
